<footer>

    <div class="container-footer container-fluid mx-auto d-flex my-5">

        <ul class="mx-auto my-auto text-center d-flex list-unstyled col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">

            <!--facebook-->
            <li class="social-link col-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 mx-auto">
                <a href="https://www.facebook.com/cov.vacs.be" target="_blank"
                   rel="noopener noreferrer nofollow" class="text-white"
                   title="facebook pagina van  covid-vaccination.be">
                    <i class="fab fa-facebook fa-3x"></i>
                </a>
            </li>

            <!--twitter-->
            <li class="social-link col-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 mx-auto">
                <a href="https://twitter.com/cov_vacs_be" target="_blank" rel="noopener noreferrer nofollow"
                   class="text-white" title="twitter account van corona-vaccination.be">
                    <i class="fab fa-twitter fa-3x"></i>
                </a>
            </li>

            <!--github-->
            <li class="social-link col-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 mx-auto">
                <a href="https://github.com/Eosia/nl.corona-vaccination.be.git" target="_blank" rel="noopener noreferrer nofollow"
                   class="text-white" title="code source van corona-vaccination.be">
                    <i class="fab fa-github fa-3x"></i>
                </a>
            </li>

        </ul>

    </div>


    <div class=" container-footer container-fluid mx-auto d-flex mb-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
        <p class="mx-auto my-auto col-8 col-sm-8 col-md-8 col-lg-8 col-xl-6 text-center">
            2021©CORONA-VACCINATION.BE
        </p>



        <div class="mx-auto my-auto col-4 col-sm-4 col-md-4 col-lg-4 col-xl-6 text-right">
            <a href="#header" class="text-white"><i class="far fa-arrow-alt-circle-up fa-3x mr-5"></i></a>
        </div>
    </div>

</footer>
