 <!--header start-->
    <header class="container-fluid w-100 my-auto mx-auto position-absolute" id="header">

        {% include ('incs/nav.html.twig') %}

        <div class="title-container container-fluid mt-5">

            <div class="row mx-auto">

                <!--titre 1-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl--12 mx-auto">
                    <h1 class="mx-auto text-center text-uppercase text-white mt-5">
                        corona-vaccination.be
                    </h1>
                </div>

                <!--titre 1-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                    <h2 class="title2 mx-auto text-center text-uppercase text-white mt-5">
                    </h2>
                    <script>
                        var typed = new Typed('.title2', {
                            strings: ["", "Welkom !", "Vind hier de", "Vaccinatiecentra in België"],
                            typeSpeed: 70,
                            backSpeed : 15,
                            loop: true,
                        });
                    </script>
                </div>

            </div>

        </div>

    </header>
    <!--header stop-->